.top-text{
  border-top: rgb(0, 0, 0);
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  border-bottom:  rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
margin: auto;
}
.h1{
  font-size: 240px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

h2{
    color: white;
}


.card-group {
  margin-top: 3rem;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;

  border-style: solid;
  border-width: 0.1rem;
}


.bottombar {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.1rem;
  text-align: center;
  margin-top: 3rem;
  height: 4rem;
  font-size: 32px;
  color: black;
}

.body{
  background-color:rgb(0, 0, 0);
    align-items: center;
    color: white;
    z-index: 1;
}

.navbar{
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(0, 0, 0);
  height:auto;
  color: white;
  align-items: center;
  display: flex;
}

h5{
  color: black;
  text-align: center;
}

.colortext{
  color:black;
  text-align: center;
}

.section{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    margin-bottom: 10rem;
}



p{
text-align: center;
margin-bottom: 0rem;
color: white;
margin: auto;
display: flex;
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
justify-content: center;
}




header{
    margin-bottom: 5rem ;
  text-align: center;
  font-size: 64px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dynasty-card{
   align-items: center;
   justify-content: center;
   margin-top: 3rem;
   border-style: solid;
}

.card-text{
    margin-bottom: 0rem;
    font-size: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5rem;
}

.video{
    margin:auto;
    justify-content: center;
    align-items: center;
    border-style: double;
    margin-bottom: 10rem;
    border-width: 1rem;

}



.player-navbar{
  background-color: black;
}

.colortxt{
  color:white;
}

.container{
    margin-top: 5rem;
}
